*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #e9f6f1;
}

.clearfix{
    clear:both;
}
header{
    padding: 50px 25px;
}

header .header-nav h1{
    text-align:center;
    font-weight:800;
    font-size:2rem;
    margin-bottom:25px;
    font-family: 'Pacifico', cursive;
}

header .header-nav nav a{
    display:inline-block;
    width:100%;
    background:white;
    padding:10px;
    text-align:center;
    text-decoration: none;
    font-weight:800;
    font-size:1.2rem;
    text-transform: uppercase;
    color:black;
    margin:5px;
}

header img{
    max-width:300px;
    margin: 25px auto;
    display:block;
}

header p{
    text-align:center;
    font-size:1.2rem;
    line-height:1.7;
}

#portfolio{
    background:#fff;
    width:100%;
    text-align:center;
    padding:50px 0;
}

#portfolio h2{
    margin: 25px 0;
}

#portfolio .portfolio-cards .card{
    text-align:center;
    padding:10px 0;
}

#portfolio .portfolio-cards .card h3{
    text-align:center;
    font-weight:600;
    font-size:1.4rem;
    margin: 25px 0;
}

#portfolio .portfolio-cards .card p{
    width:80%;
    text-align:center;
    margin:10px auto;
    font-size:1.2rem;
}

#portfolio img{
    width:90%;
    display:block;
    margin: 0 auto;
}

footer{
    text-align:center;
    padding:50px 25px;
}

footer h2{
    margin: 25px 0;
}

footer p{
    font-size:1.2rem;
    margin:25px 0;
}

footer p b{
    font-weight:600;
    color:teal;
}

footer .footer-nav{
    padding:25px 0;
    border-top:1px solid #aaa;
    margin-top:50px;
}


footer .footer-nav .student_name{
    float:left;
    font-size:1rem;
    font-weight:600;
}

footer .footer-nav .student_name p{
    margin:0;
}

footer .footer-nav nav{
    float:right;
}

footer .footer-nav nav a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:600;
}


footer .xs-hidden{
    display:none;
}

@media (min-width:768px){

    header{
        padding:50px;
    }

    header .header-nav nav{
        margin: 50px auto;
        width:auto;
        display:block;
        text-align:center;
    }

    header .header-nav nav a{
        display:inline-block;
        width:auto;
        background:none;
    }

    header p {
        float:left;
        width:49%;
        text-align:left;
        font-size:1.5rem;
    }
    header img{
        float:right;
        max-width:49%;
        margin: 0;
    }

    #portfolio .portfolio-cards .card{
        width:49%;
        float:left;
    }

    footer>p{
        max-width:60%;
        margin: 25px auto;
    }

    footer nav a{
        margin:0 20px;
    }

    footer .xs-hidden{
        display:inline-block;
    }
    footer .xs-show{
        display:none;
    }
}

@media (min-width:1024px) {

    header .header-nav{
        margin:30px 0 50px;
    }

    header .header-nav h1 {
        float:left;
        margin: 0;
    }
    header .header-nav nav{
        float:right;
        margin:0;
    }
    .wrapper{
        max-width:1300px;
        margin: 0 auto;
    }
    #portfolio{
        padding:75px;
    }
    #portfolio .portfolio-cards .card{
        width:33.3%;
        float:left;
    }
}